/*body {
    background-color: lightgrey;
}*/
.jumbotron {
    background-color: dodgerblue;
    color: black;
    margin-top: 50px;
    margin-bottom: 0px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: skyblue;
    margin-top: 20px;
    margin-bottom: 0px;
}

.estilos {
    border: 1px solid #DBE1EB;
    font-size: 13px;
    font-family: Arial, Verdana;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-image: 4px;
    background: #FFFFFF;
    background: linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
    color: #2E3133;
}

.cardsport {
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.btnproductos {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.tab-content {
    padding-top: 10px;
}
