$dodgerblue: dodgerblue;
$Amarillo: #d1d104;
$Verde: #03a639;
$Rojo: #f70000;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin tamano($tamano) {
    width: $tamano;
}

/*body {
    background-color: lightgrey;
}*/

.jumbotron {
    background-color: $dodgerblue;
    color: black;
    @include margenes(50px ,0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: skyblue;
    @include margenes(20px,0px);
}

.estilos {
    border: 1px solid #DBE1EB;
    font-size: 13px;
    font-family: Arial, Verdana;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-image: 4px;
    background: #FFFFFF;
    background: linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
    color: #2E3133;
}

.cardsport {
    flex: 1 200px;
    @include margenes(10px,0px);
}

.btnproductos {
    @include tamano(100%);
    position: absolute;
    left: 0;
    bottom: 0;
}

.tab-content {
    padding-top: 10px;
}


